[submodule "Lua-cURLv3"]
	path = Lua-cURLv3
	url = https://github.com/Lua-cURL/Lua-cURLv3.git
[submodule "PathOfBuilding"]
	path = PathOfBuilding
	url = https://github.com/PathOfBuildingCommunity/PathOfBuilding.git
